*{
margin: 0;
padding:0;
box-sizing: border-box;
}
html,body{
width:100%;
height:100%;
}
.container {
  display: grid;
  height: 100%;    
  width:100%; 
  text-align: center;  /* full screen height */
  grid-template-rows: 1fr 5fr 1fr;
}

header {
  color: #c2bf0c33;
  -webkit-text-stroke: 3px pink;
  font-weight: bold;
  width: 100%;
  font-size:40px;
  animation: slide 2s ease-in-out 0.5s infinite alternate;
}

video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left:0;
  top:0;
  z-index: -1;
}
section {
  background:url("./Star1.mp4");
  display:grid;
  place-content: center;
}
.star{
  font-size:50px;
  /* position:absolute; */
  transform: translateX(-30%);
  position: relative;
  top:30%;
  color:rgb(29, 150, 29);
}
section{
  padding-top:60px;
  width:100%;
}
.tree{
    height: 63vh;
    width:500px;
    display:grid;
    place-content: center;
    padding-left: 80px;
    padding-top:10px;
    margin-top: 50px;
}
.triangle1{
    height: 30px;
    width:80px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color:rgb(33, 160, 33);
    z-index: 6;
}
.triangle2{
    height: 60px;
    width:110px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: rgb(33, 160, 33);
    transform: translate(-14%,-40%);
    z-index: 5;
}
.triangle3{
    height: 90px;
    width:140px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: rgb(33, 160, 33);
    transform: translate(-20%,-80%);
    z-index: 4;
}
.triangle4{
    height: 120px;
    width:170px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: rgb(33, 160, 33);
    transform: translate(-26%,-120%);
    z-index: 3;
}
.triangle5{
    height: 150px;
    width:200px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: rgb(33, 160, 33);
    transform: translate(-30%,-160%);
    z-index: 2;
}
.rect{
  height: 100px;
  width:200px;
  clip-path: inset(5% 68% 15% 10%);
  background-color: rgb(118, 69, 69);
  transform: translate(0%,-250%);
  z-index: 1;

}

footer h1 {
  color: transparent;
  -webkit-text-stroke: 3px aqua;
  font-size: 30px;
  
 
}
@media (max-width:500px) {

.tree{
  position: absolute;
  width:270px;
  height: 55vh;
  padding-left: 150px;
  padding-top:30px;
}
header{
  font-size: 25px;
}
footer h1{
  font-size: 20px;
}
}